@font-face {
  font-family: "Norse-Bold";
  src: url("Norse-Bold.otf") format("opentype");
}

:root {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  margin: 0;
}

a {
  color: white;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-left {
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./sidebar-background.jpg);
  background-size: cover;
  color: white;
}

.logo-bar {
  margin-top: 25vh;
  padding: 12px;
  background-color: rgb(0 0 0 / .4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Norse-Bold;
  font-size: 100px;
}

.logo {
  width: 100px;
  height: auto;
}

.image-credit {
  text-align: center;
  margin: 12px;
}

.container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.container-right *{
 margin: 12px 40px;
}

.container-right div, .container-right form {
 margin: 0;
}

.fields {
  box-shadow: 0px 3px 10px rgb(0 0 0 / .3);
  padding: 15px 0;
}

button {
  background-color: rgb(85, 119, 72);
  border: 0;
  border-radius: 8px;
  padding: 14px 45px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}